body {

    background-color: #eed4d6;

}

header {
    background-color: #5daaba;
    margin: -1em;
    height: 6em;
    display: flex;
}

h1 {
    text-align: center;
    font-family: monospace;
    padding-top: 1em;
    font-size: 40px;
}

header a {
    text-decoration: none;
    color: black;

}

header img {
    height: 5em;
    width: 9em;
    margin-top: 0.8em;
    margin-left: 1em;
}

header ul {
    padding-top: 1em;
    justify-content: center;
    width: 100%;
    padding-right: 1em;
}

.nav ul {
    padding: 1em;
    padding-left: 8em;
    justify-content: center;
}

.nav li {
    display: inline-block;
    background-color: #eed4d6;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-radius: 0.7em;
    margin: 0.3em;
    font-family: monospace;
    font-size: 1.2vw;
}

.nav li:hover {
    background-color: #c85379;
    color: white;
}

.navactive {
    background-color: #c85379 !important;
    color: white !important;
}

.navright {
    float: right;
}

.homeimg {
    width: 25em;
    height: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.zoekscherm {
    align-content: center;
    padding: 20px;
    border: none;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #5daaba;
    color: white;
}

@media only screen and (max-width: 1030px) {
    .nav li {
        font-size: 12px;
    }

}


@media only screen and (max-width: 830px) {
    .nav li {
        font-size: 10px;
        max-width: 60px;
        height: 30px;
        vertical-align: middle;

        flex-direction: row;
        align-items: center;
    }
}

@media only screen and (max-width: 650px) {

    header {
        height: 4em;
    }

    header ul {
        padding: 0em;
        padding-right: 0.5em;
    }

    header img {
        height: 3em;
        width: 6em;
        margin-top: 0.8em;
        margin-left: 1em;
    }

}

@media only screen and (max-width: 540px) {

    header img {
        width: 4em;
        margin-left: 0.5em;
    }

}

container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.searchfield {
    align-content: center;
    padding: 6px;
    border: none;
    font-size: 17px;
    display: inline;
    margin-left: 40%;
}

.searchbutton {
    align-content: center;
    padding: 6px;
    border: none;
    font-size: 17px;
    display: inline;
    background-color: #5daaba;
}

article {
    background-color: white;
    border-radius: 2em;
    width: 20em;
    height: 25em;
    margin: 2em;
    padding: 1em;
    justify-content: center;

}

article img {
    width: 100%;
    height: 10em;
    align-content: center;
}

article H2 {
    text-align: center;
}

article p {
    text-align: center;
    height: 125px;
}

.bekijk {
    margin-left: 88px;
    margin-bottom: 10px;
    padding: 6px;
    border: none;
    font-size: 17px;
    display: inline;
    background-color: #5daaba;
    color: white;
}

article:hover {
    background-color: lightpink;
}

.imgdetail {
    height: 20em;
    width: 28em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Bron: https://netspecialist.nl/html-en-css/519-een-slideshow-widget-maken */
.slideshow {
    width: 30em;
    height: 20em;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slideshow img {
    position: absolute;
    animation: slideshow 20s infinite;
    opacity: 0;
    width: 100%;
    height: auto;

}

@keyframes slideshow {
    25% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }
}

.slideshow img:nth-child(4) {
    animation-delay: 0s;
}

.slideshow img:nth-child(3) {
    animation-delay: 5s;
}

.slideshow img:nth-child(2) {
    animation-delay: 10s;
}

.slideshow img:nth-child(1) {
    animation-delay: 15s;
}

.symbolimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
